<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nemo</title>
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="../css/main.css"/>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</head>
<body>
<header class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Nemo</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">搜索漫画</a></li>
                <li><a href="#">搜索作者</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="container mobile">
    <div class="my-item">
        <div class="row">
            <div class="col-xs-3 col-md-3">
                <img src="../images/wzq.jpg" class="img-responsive"/>
            </div>
            <div class="col-xs-9 col-md-9 info">
                <p class="name">王振琦</p>
                <p class="motto">我是一个喜欢安卓热爱艺术的胖子</p>
            </div>
        </div>
    </div>
    <div class="list-container">
        <span class="glyphicon glyphicon-stats item-icon"></span>
        <span class="item-text">我的订阅</span>
        <span class="item-line1"></span>
        <div class="list-column">
            <p class="text">0</p>
            <p class="note">关注</p>
        </div>
        <div class="list-column">
            <p class="text">0</p>
            <p class="note">粉丝</p>
        </div>
        <div class="list-column">
            <p class="text">0</p>
            <p class="note">收藏</p>
        </div>
    </div>
    <div class="list-container">
        <ul>
            <li>
                <span class="glyphicon glyphicon-picture item-icon"></span>
                <span class="item-text">我的漫画</span>
                <span class="item-line2"></span>
            </li>
            <li>
                <span class="glyphicon glyphicon-print item-icon"></span>
                <span class="item-text">我的关注</span>
                <span class="item-line2"></span>
            </li>
            <li>
                <span class="glyphicon glyphicon-hd-video item-icon"></span>
                <span class="item-text">我的粉丝</span>
                <span class="item-line2"></span>
            </li>
            <li>
                <span class="glyphicon glyphicon-tasks item-icon"></span>
                <span class="item-text">我的收藏</span>
                <span class="item-line2"></span>
            </li>
            <li>
                <span class="glyphicon glyphicon-cog item-icon"></span>
                <span class="item-text">我的设置</span>
            </li>
        </ul>
    </div>
</div>
</body>
</html>