<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nemo</title>
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="../css/main.css"/>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</head>
<body>
<header class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Nemo</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">搜索漫画</a></li>
                <li><a href="#">搜索作者</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="container mobile">
    <div class="view-title">
        <img src="../images/discover.jpg" class="img-responsive" alt="main"/>
        <div class="brand brand-left">
            <p class="brand-title">发现</p>
            <p class="brand-note">海内知己&nbsp;&nbsp;天涯之邻</p>
            <p class="brand-line"></p>
            <p class="brand-note">作者&nbsp;&nbsp;王振琦</p>
        </div>
    </div>
    <div class="author-item">
        <div class="row">
            <div class="col-xs-4 col-md-4">
                <img src="../images/wzq.jpg" class="img-responsive">
            </div>
            <div class="col-xs-8 col-md-8 author-info">
                <p class="author-name">王振琦</p>
                <p class="author-motto">我是一个喜欢安卓热爱艺术的胖子</p>
                <p class="author-note">
                    <span class="glyphicon glyphicon-picture icon-style"></span>
                    <span class="icon-text">16</span>
                    <span class="glyphicon glyphicon-heart icon-favor"></span>
                    <span class="icon-text">128</span>
                </p>
            </div>
        </div>
    </div>
    <div class="author-item">
        <div class="row">
            <div class="col-xs-4 col-md-4">
                <img src="../images/wzq.jpg" class="img-responsive">
            </div>
            <div class="col-xs-8 col-md-8 author-info">
                <p class="author-name">王振琦</p>
                <p class="author-motto">我是一个喜欢安卓热爱艺术的胖子</p>
                <p class="author-note">
                    <span class="glyphicon glyphicon-picture icon-style"></span>
                    <span class="icon-text">16</span>
                    <span class="glyphicon glyphicon-heart icon-favor"></span>
                    <span class="icon-text">128</span>
                </p>
            </div>
        </div>
    </div>
    <div class="author-item">
        <div class="row">
            <div class="col-xs-4 col-md-4">
                <img src="../images/wzq.jpg" class="img-responsive">
            </div>
            <div class="col-xs-8 col-md-8 author-info">
                <p class="author-name">王振琦</p>
                <p class="author-motto">我是一个喜欢安卓热爱艺术的胖子</p>
                <p class="author-note">
                    <span class="glyphicon glyphicon-picture icon-style"></span>
                    <span class="icon-text">16</span>
                    <span class="glyphicon glyphicon-heart icon-favor"></span>
                    <span class="icon-text">128</span>
                </p>
            </div>
        </div>
    </div>
    <div class="author-item">
        <div class="row">
            <div class="col-xs-4 col-md-4">
                <img src="../images/wzq.jpg" class="img-responsive">
            </div>
            <div class="col-xs-8 col-md-8 author-info">
                <p class="author-name">王振琦</p>
                <p class="author-motto">我是一个喜欢安卓热爱艺术的胖子</p>
                <p class="author-note">
                    <span class="glyphicon glyphicon-picture icon-style"></span>
                    <span class="icon-text">16</span>
                    <span class="glyphicon glyphicon-heart icon-favor"></span>
                    <span class="icon-text">128</span>
                </p>
            </div>
        </div>
    </div>
    <div class="author-item">
        <div class="row">
            <div class="col-xs-4 col-md-4">
                <img src="../images/wzq.jpg" class="img-responsive">
            </div>
            <div class="col-xs-8 col-md-8 author-info">
                <p class="author-name">王振琦</p>
                <p class="author-motto">我是一个喜欢安卓热爱艺术的胖子</p>
                <p class="author-note">
                    <span class="glyphicon glyphicon-picture icon-style"></span>
                    <span class="icon-text">16</span>
                    <span class="glyphicon glyphicon-heart icon-favor"></span>
                    <span class="icon-text">128</span>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>