<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nemo</title>
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="../css/main.css"/>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</head>
<body>
<header class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Nemo</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">搜索漫画</a></li>
                <li><a href="#">搜索作者</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="container mobile">
    <div class="list-container">
        <div class="row">
            <div class="col-xs-3">
                <p>头像</p>
            </div>
            <div class="col-xs-3">
                <img src="../images/wzq.jpg" class="img-responsive"/>
            </div>
            <div class="col-xs-6"></div>
        </div>
    </div>
    <div class="list-container">
        <div class="row">
            <div class="col-xs-3">
                <p>姓名</p>
            </div>
            <div class="col-xs-9">
                <p>王振琦</p>
            </div>
        </div>
        <div class="item-line1"></div>
        <div class="row">
            <div class="col-xs-3">
                <p>座右铭</p>
            </div>
            <div class="col-xs-9">
                <p>心事浩渺连广宇</p>
            </div>
        </div>
        <div class="item-line1"></div>
        <div class="row">
            <div class="col-xs-3">
                <p>手机号</p>
            </div>
            <div class="col-xs-9">
                <p>15253620357</p>
            </div>
        </div>
        <div class="item-line1"></div>
        <div class="row">
            <div class="col-xs-3">
                <p>邮箱</p>
            </div>
            <div class="col-xs-9">
                <p>wyx151425@foxmail.com</p>
            </div>
        </div>
    </div>
    <div class="list-container">
        <div class="row">
            <div class="col-xs-3">
                <p>性别</p>
            </div>
            <div class="col-xs-9">
                <p>男</p>
            </div>
        </div>
        <div class="item-line1"></div>
        <div class="row">
            <div class="col-xs-3">
                <p>生日</p>
            </div>
            <div class="col-xs-9">
                <p>1996-04-04</p>
            </div>
        </div>
        <div class="item-line1"></div>
        <div class="row">
            <div class="col-xs-3">
                <p>职业</p>
            </div>
            <div class="col-xs-9">
                <p>计算机/互联网/通信</p>
            </div>
        </div>
    </div>
    <div class="list-container">
        <div class="row">
            <div class="col-xs-3">
                <p>个人简介</p>
            </div>
            <div class="col-xs-9">
                <p>我是一个喜欢安卓热爱艺术的胖子</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>