<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的博客</title>
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="../css/myblog.css"/>
    <style>
        .card-row {
            margin-top: 2em;
            background: #fff;
            padding: 3em 2em;
            box-shadow: 0 1px 1px 0 rgba(104, 123, 144, 0.31);
            border-radius: 0.2em;
        }
    </style>
</head>
<body>
<aside class="sidebar">
    <ul>
        <li><a href="">首页</a></li>
        <li class="active"><a href="">团队</a></li>
        <li><a href="">消息</a></li>
        <li><a href="">任务</a></li>
        <li><a href="">个人</a></li>
    </ul>
</aside>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <img src="../images/blue.jpg" class="img-responsive" alt="avatar"/>
            </div>
            <div class="col-xs-12 col-md-8">
                <h3 class="title-inverse">Luck Blue Smith</h3>
                <p class="font-inverse">
                    <small>
                        Catch the star that holds your destiny, the one that forever twinkles within your heart.
                        Take advantage of precious opportunities while they still sparkle before you.
                        Always believe that your ultimate goal is attainable as long as you commit yourself to it.
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row card-row">
        <div class="col-xs-12 col-md-4">
            <img src="../images/cover.jpg" class="img-responsive"/>
        </div>
        <div class="col-xs-12 col-md-8">
            <h4 class="h-default">About</h4>
            <p class="font-default">Catch the star that holds your destiny, the one that forever twinkles within your
                heart. Take advantage of precious opportunities while they still sparkle before you. Always believe that
                your ultimate goal is attainable as long as you commit yourself to it.</p>
            <a href="#" class="book-go">Read More</a>
        </div>
    </div>
</div>
</body>
</html>